<body style="background-image: url(/assets/IMG_20181106_125531.jpg); background-size: contain; background-attachment: fixed; ">

<div class='ui centered card 0'>

  <div class='image'>
    <img src='/assets/0.jpg'>
  </div>

  <div class='ui bottom attached button' (click)='flip0()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card august'>

  <div class='image'>
    <img src='/assets/august.jpg'>
  </div>

  <div class='ui bottom attached button' (click)='flipaugust()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card 180824_174426' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180824_174426.jpg'>
  </div>

  <div class='content'>
    <a class='header'>First pic together on my phone!</a>
    <div class="meta">
      <span class="date">August 24, 2018</span>
    </div>
    <div class='description'>
      Hindi ko sure kung itong pic ay sa TriNoMa nung binili yung phone haha. We cute here 'nonetheless'. (May mini flower ka sa head :> )
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180824_174426()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card 180828_103105' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180828_103105.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Potato Salad ft. Ri</a>
    <div class="meta">
      <span class="date">August 28, 2018</span>
    </div>
    <div class='description'>
      Ito yung nung nagpadala ng potato salad yung tita galing sa fiesta haha. Natuwa sila sa peanutbutter(?) cookies na pasalubong mo ihh.
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180828_103105()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180828_204637' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180828_204637.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Pa-gas Muna</a>
    <div class="meta">
      <span class="date">August 28, 2018</span>
    </div>
    <div class='description'>
      Pauwi na ata ikaw nung time na 'to tapos nagselfie tayo habang nagpapa-gas HAHAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180828_204637()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180829_181630' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180829_181630.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Sweet 16</a>
    <div class="meta">
      <span class="date">August 29, 2018</span>
    </div>
    <div class='description'>
      Masipag pa tayong mag-aral itong time last year HAHAHA pero mas masipag na now hehe. Ito yung aral-kain natin sa area2 tapos napasaktong 16 yung number natin ( sweet :> )
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180829_181630()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180830_120726' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180830_120726.jpg'>
  </div>

  <div class='content'>
    <a class='header'>CHK Tambayz</a>
    <div class="meta">
      <span class="date">August 30, 2018</span>
    </div>
    <div class='description'>
      'Di ko sure kung tapos na ba ako mag-PE nito or magstart pa lang mag-PE hahaha. Thank you sa pagsama sakin sa CHK! :)
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180830_120726()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180830_124958' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180830_124958.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Pa-cute sa Acacia</a>
    <div class="meta">
      <span class="date">August 30, 2018</span>
    </div>
    <div class='description'>
      I think nag-lunch ata tayo nito sa Acacia. Ang clingy pala natin masyado kasi feel ko ito yung lunch natin after ko mag-PE HAHAHAHAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180830_124958()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card september'>

  <div class='image'>
    <img src='/assets/september.jpg'>
  </div>

  <div class='ui bottom attached button' (click)='flipseptember()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card 180903_174402' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180903_174402.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Focus on Me</a>
    <div class="meta">
      <span class="date">September 3, 2018</span>
    </div>
    <div class='description'>
      Sabi ko sa'yo masipag tayo mag-aral eh HAHAHAHA. Tinatry ko gamitin yung portrait mode nung camera ng phone hehe. You look cute pero serious dito haha
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180903_174402()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180903_192022' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180903_192022.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Landi Habang Acads</a>
    <div class="meta">
      <span class="date">September 3, 2018</span>
    </div>
    <div class='description'>
      Oh 'di ba landi pa rin natin HAHAHA. Acads while landi >>> Acads before landi
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180903_192022()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180910_150412' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180910_150412.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Cutest!</a>
    <div class="meta">
      <span class="date">September 10, 2018</span>
    </div>
    <div class='description'>
      Napaka-cute naman talaga sa pic na 'to uy! (Sipag natin talaga mag-aral HAHAHA)
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180910_150412()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180914_203735' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180914_203735.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Gorg!</a>
    <div class="meta">
      <span class="date">September 10, 2018</span>
    </div>
    <div class='description'>
      Y u look so gorg habang focused sa pag aaral??
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180914_203735()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180912_201815' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180912_201815.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Apps Or and Chill</a>
    <div class="meta">
      <span class="date">September 12, 2018</span>
    </div>
    <div class='description'>
      Apps Or nung day na 'to tapos sumakit ulo mo :C. Pero I'm proud of you kasi andaming new mems from that batch at nag-execomm pa 'yung iba!
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180912_201815()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180913_161529' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180913_161529.jpg'>
  </div>

  <div class='content'>
    <a class='header'>First Date Attire HAHA</a>
    <div class="meta">
      <span class="date">September 13, 2018</span>
    </div>
    <div class='description'>
      I'm quite sure after ito nung Speech 30 class ko tapos may icoconsult ata ikaw na prof? Tapos u really looked pretty sa dress :> Pang first date talaga ihh wof uu
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180913_161529()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180913_212844' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180913_212844.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Car Selfie</a>
    <div class="meta">
      <span class="date">September 13, 2018</span>
    </div>
    <div class='description'>
      Same day sa previous pic haha. Ito ata yung first try tapos may paparating na bagyo nun so suspended classes kinabukasan. You cute sa pose mo hihi
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180913_212844()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180916_164504' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180916_164504.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Tambay sa Bahay and First Month :></a>
    <div class="meta">
      <span class="date">September 16, 2018</span>
    </div>
    <div class='description'>
      It was a sunday! We did a quick aral tapos nag-setup pa tayo ng table sa room(forgot the term u used). I like how u looked so happy in this pic! :>
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180916_164504()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180917_185120' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180917_185120.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Pa-Cute sa Area2</a>
    <div class="meta">
      <span class="date">September 17, 2018</span>
    </div>
    <div class='description'>
      Nagdinner tayo nito dun sa may meat+veggies+rice at pwede ring bumili ng shake na stall hehe
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180917_185120()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180918_165049' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180918_165049.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Cute Together</a>
    <div class="meta">
      <span class="date">September 18, 2018</span>
    </div>
    <div class='description'>
      'Di ko sure kung saang place ito pero mukhang sa CS Lib HAHAHAHA. I think nag-aaral ikaw tapos bumisita lang ako from lab tapos bumalik na ulit after this pic hehe
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180918_165049()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180924_190956' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180924_190956.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Squat sa CSG</a>
    <div class="meta">
      <span class="date">September 24, 2018</span>
    </div>
    <div class='description'>
      Umiyak ikaw nung time na toooo. May ginagawa ata ikaw na pub for the org tapos I think humihingi ikaw ng feedback pero na-misunderstood mo feedback tapos yunnn
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180924_190956()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 180927_210636' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20180927_210636.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Silaw</a>
    <div class="meta">
      <span class="date">September 27, 2018</span>
    </div>
    <div class='description'>
      Hilig pala natin magdinner ano? HAHA Ito yung nagtry tayo magselfie w flash after dinner pero masyadong maliwanag kaya di ikaw makamulat hahahaha U still look cute :>
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip180927_210636()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card october'>

  <div class='image'>
    <img src='/assets/october.jpg'>
  </div>

  <div class='ui bottom attached button' (click)='flipoctober()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card 181006_181525' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181006_181525.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Ahrt</a>
    <div class="meta">
      <span class="date">October 6, 2018</span>
    </div>
    <div class='description'>
      Saturday nung tinake natin itong pic hehe. Naka-PE pa ako from PE class ew. I think galing tayo both sa UP before pumunta sa bahay mo? Also, ito yung day na binigay ko sa'yo yung paper na may nakasulat na "Something" para pwede ko na masabi na meron tayong "Something" HAHAHAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181006_181525()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181006_213338' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181006_213338.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Something</a>
    <div class="meta">
      <span class="date">October 6, 2018</span>
    </div>
    <div class='description'>
      Oh 'di ba? AHAHAHAHAHAHAHHA wof u
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181006_213338()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181010_142503' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181010_142503.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Selfie sa WSG</a>
    <div class="meta">
      <span class="date">October 10, 2018</span>
    </div>
    <div class='description'>
      'Di ko alam ano meron dito HAHAHAHAH pero u look cute in ur selfie :>
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181010_142503()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181016_205939' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181016_205939.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Second Month! :></a>
    <div class="meta">
      <span class="date">October 16, 2018</span>
    </div>
    <div class='description'>
      HUUUUY!! Ganda natin ditooo c: I think kumain tayo sa SM North tapos selfie and chill hihi
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181016_205939()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181019_162524' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181019_162524.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Sneaky Sneak sa Ateneo!</a>
    <div class="meta">
      <span class="date">October 19, 2018</span>
    </div>
    <div class='description'>
      Huoyyyy anyare sa sipag nung start ng sem? hahahah nag-cut tayo nito w Kat and Rheeca para gumala sa Ateneo HAHAHHAHAHAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181019_162524()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181022_190640' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181022_190640.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Pa-cute sa Dilim(an)</a>
    <div class="meta">
      <span class="date">October 22, 2018</span>
    </div>
    <div class='description'>
      Video siya actually pero nagscreencap lang ako kasi ang cute mo dito HAHAHAHA. Pinapaglaruan ata natin yung jacket tapos nakita natin si Theo tapos sumabay tayo hanggang sa may LRT HAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181022_190640()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181026_201734' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181026_201734.jpg'>
  </div>

  <div class='content'>
    <a class='header'>#MusicIsMyLife</a>
    <div class="meta">
      <span class="date">October 26, 2018</span>
    </div>
    <div class='description'>
      Yieeeee ito yung nanood tayo ng Musikaugnayan sa theater hehe #BesameMucho
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181026_201734()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181031_131910' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181031_131910.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Ehhh.. HAHA</a>
    <div class="meta">
      <span class="date">October 31, 2018</span>
    </div>
    <div class='description'>
      Ano trip natin bat tayo nagwacky na pose sa Pancake House? HAHAHAH
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181031_131910()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card november'>

  <div class='image'>
    <img src='/assets/november.jpg'>
  </div>

  <div class='ui bottom attached button' (click)='flipnovember()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card 181115_190341' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181115_190341.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Liway Night! 1/2</a>
    <div class="meta">
      <span class="date">November 15, 2018</span>
    </div>
    <div class='description'>
      We eating dinner bago manood ng Liway!! :)) ( Cute ng smile mo as always :> )
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181115_190341()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181115_220712' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181115_220712.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Liway Night! 2/2</a>
    <div class="meta">
      <span class="date">November 15, 2018</span>
    </div>
    <div class='description'>
      Yalaa, ganda ng smile ahhh pero sino kaya umiyak before yan? HAHAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181115_220712()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181123_205441' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181123_205441.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Tori Chizu Eats!</a>
    <div class="meta">
      <span class="date">November 23, 2018</span>
    </div>
    <div class='description'>
      I think nung nanood tayong Liway at itong dinner yung ginawa natin for our 3rd month hehe (Parang di mo na uli nasusuot top?)
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181123_205441()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181124_124259' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181124_124259.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Nahiya naman yung canopy</a>
    <div class="meta">
      <span class="date">November 24, 2018</span>
    </div>
    <div class='description'>
      Saturday din natin tinake itong pic after ng PE ko hehe. We so sweet nahiya na yung leaves sa taas hahaha
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181124_124259()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181124_124455' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181124_124455.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Being one with nature</a>
    <div class="meta">
      <span class="date">November 24, 2018</span>
    </div>
    <div class='description'>
      Oh diba bilis ng transition from sweet to cute HAHAHAHA ang cute mo sa pic na 'to uy! u look happy :>
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181124_124455()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181124_134024' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181124_134024.jpg'>
  </div>

  <div class='content'>
    <a class='header'>UP Fight!</a>
    <div class="meta">
      <span class="date">November 24, 2018</span>
    </div>
    <div class='description'>
      Dami nating selfie sa araw na 'to hahaha I think may sakit kaw or may smth sa acads kaya fighting pose? Kaya mo yan!! :))
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181124_134024()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181128_140814' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181128_140814.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Photo Op sa Harap ng CS Lib 1/2</a>
    <div class="meta">
      <span class="date">November 28, 2018</span>
    </div>
    <div class='description'>
      Ang cute cute cute mo sa attire mo na ito uyyy!! Taking a pic is a must! Hehe Love you bata! :>
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181128_140814()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181128_140834' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181128_140834.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Photo Op sa Harap ng CS Lib 2/2</a>
    <div class="meta">
      <span class="date">November 28, 2018</span>
    </div>
    <div class='description'>
      Siyempre di ko papalampasin na di makapagselfie sa cute na bata hihi :>
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181128_140834()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card december'>

  <div class='image'>
    <img src='/assets/december.jpg'>
  </div>

  <div class='ui bottom attached button' (click)='flipdecember()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card 181205_160641' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181205_160641.jpg'>
  </div>

  <div class='content'>
    <a class='header'>UP MBT Fight!</a>
    <div class="meta">
      <span class="date">December 5, 2018</span>
    </div>
    <div class='description'>
      Sarap ba Piattos? jk hahahah Ito yung nanonood tayong UAAP Men's Basketball Finals tapos I think nag-CR pa ata kaw sa Eduk? (halaaaaaaa)
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181205_160641()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181210_181722' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181210_181722.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Picture w BnA (Beautifol and Adowrable)</a>
    <div class="meta">
      <span class="date">December 10, 2018</span>
    </div>
    <div class='description'>
      U got a new haircut!!! Also, ito yung sinundo kaw ng dad mo I think hehe
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181210_181722()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181214_221814' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181214_221814.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Both of us taking beautiful pictures</a>
    <div class="meta">
      <span class="date">December 14, 2018</span>
    </div>
    <div class='description'>
      Video din ito actually tapos screen cap lang hehe. U really look cute and in awe sa pic :>
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181214_221814()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181217_152228' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181217_152228.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Hit me Harder!</a>
    <div class="meta">
      <span class="date">December 17, 2018</span>
    </div>
    <div class='description'>
      Nag-TC lang ba tayo nito para gumawa ng kalokohan sa H&M? HAHAHAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181217_152228()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 181219_192508' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20181219_192508.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Into the Spider-verse!</a>
    <div class="meta">
      <span class="date">December 19, 2018</span>
    </div>
    <div class='description'>
      We watched Spiderman this day hihi Ito ata ginawa natin for our 4th and bago ako umuwing Quezon hehe I really like spending time with youuuuu (Ang cute din ng earrings mo ;) )
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip181219_192508()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card january'>

  <div class='image'>
    <img src='/assets/january.jpg'>
  </div>

  <div class='ui bottom attached button' (click)='flipjanuary()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card 190107_155738' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190107_155738.jpg'>
  </div>

  <div class='content'>
    <a class='header'>New Year!</a>
    <div class="meta">
      <span class="date">January 7, 2019</span>
    </div>
    <div class='description'>
      First meet natin for this year! And u got a cool new haircut!! Paano po magmukhang cute at cool nang sabay?? wof uuuu
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190107_155738()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190116_172852' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190116_172852.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Pesto Chicken Penne and A Slice of Devil's Food Cake</a>
    <div class="meta">
      <span class="date">January 16, 2019</span>
    </div>
    <div class='description'>
      Kumain tayo sa ChocKiss for our 5th! Not sure ano specifically kinain natin pero parang yun ngaaa. Also, ito yung uminom din ako w HS friends. Thank you sa patience at understanding bataa. I love youu
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190116_172852()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190121_205111' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190121_205111.jpg'>
  </div>

  <div class='content'>
    <a class='header'>A Bug!</a>
    <div class="meta">
      <span class="date">January 21, 2019</span>
    </div>
    <div class='description'>
      Nagdinner tayo sa bahay mo tapos may bug ata na lumipad pero natrap mo sa ilalim ng smth pero napakawalan ko hahahahahahahahuhuhuhu anjan pa kaya yun sa bahay mo? jk hahaha
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190121_205111()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190122_114413' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190122_114413.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Sparkling!</a>
    <div class="meta">
      <span class="date">January 22, 2019</span>
    </div>
    <div class='description'>
      We eating lunch sa CS Canteen tapos biglang nagselfie?? We happy hereeee hehe
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190122_114413()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190124_181354' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190124_181354.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Fitness Is Next To Godliness</a>
    <div class="meta">
      <span class="date">January 24, 2019</span>
    </div>
    <div class='description'>
      Ito ata yung nakisabay ako sa'yo sa Running for Fitness haha Tara jog ulit minsan? :))
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190124_181354()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190129_122228' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190129_122228.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Messy Hair Don't Care</a>
    <div class="meta">
      <span class="date">January 29, 2019</span>
    </div>
    <div class='description'>
      Kahit in public talaga gusto mo ginugulo hair ko ihhhhhh hahahahaha
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190129_122228()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190130_130132' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190130_130132.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Twinning!</a>
    <div class="meta">
      <span class="date">January 30, 2019</span>
    </div>
    <div class='description'>
      Twinning with Jes!
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190130_130132()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190130_161625' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190130_161625.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Merienda sa WSG!</a>
    <div class="meta">
      <span class="date">January 30, 2019</span>
    </div>
    <div class='description'>
      I surprised u w a merienda! So cute in this pic :>
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190130_161625()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190130_174127' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190130_174127.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Twinning ulit!</a>
    <div class="meta">
      <span class="date">January 30, 2019</span>
    </div>
    <div class='description'>
      Twinning w the dept naman! HAHAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190130_174127()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card february'>

  <div class='image'>
    <img src='/assets/february.jpg'>
  </div>

  <div class='ui bottom attached button' (click)='flipfebruary()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card 190214_130804' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190214_130804.jpg'>
  </div>

  <div class='content'>
    <a class='header'>I choose you!</a>
    <div class="meta">
      <span class="date">February 14, 2019</span>
    </div>
    <div class='description'>
      Sino kaya ginagaya nito? Si Lickitung? HAHAHAHA Happy Valentine's Day! :>
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190214_130804()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190215_213445' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190215_213445.jpg'>
  </div>

  <div class='content'>
    <a class='header'>UP Fair 2019!</a>
    <div class="meta">
      <span class="date">February 15, 2019</span>
    </div>
    <div class='description'>
      Yieeeeeeee, second UP Fair natin together hihi
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190215_213445()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190215_222945' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190215_222945.jpg'>
  </div>

  <div class='content'>
    <a class='header'>So clear! Much Wow!</a>
    <div class="meta">
      <span class="date">February 15, 2019</span>
    </div>
    <div class='description'>
      Ito lang ata pic ko nung sumakay tayo hahahuhuhuhu (ikaw yung nasa lower right corner)
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190215_222945()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190219_172209' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190219_172209.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Gaano ka-close?</a>
    <div class="meta">
      <span class="date">February 19, 2019</span>
    </div>
    <div class='description'>
      I took this super close pic of you kasi gusto ko ipakita sayo gano kaganda eyes mo lalo na pag nasisinagan ng araw :>
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190219_172209()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190222_125553' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190222_125553.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Suki</a>
    <div class="meta">
      <span class="date">February 22, 2019</span>
    </div>
    <div class='description'>
      Tamang pacute lang pagkatapos maglunch sa CS Canteen HAHAHAHAH
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190222_125553()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190226_160900' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190226_160900.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Huwarang Mag-aaral</a>
    <div class="meta">
      <span class="date">February 26, 2019</span>
    </div>
    <div class='description'>
      Huuuoyyyyy, ansipag na ulit natin magpicture habang nag-aaral HAHAHAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190226_160900()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card march'>

  <div class='image'>
    <img src='/assets/march.jpg'>
  </div>

  <div class='ui bottom attached button' (click)='flipmarch()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card 190304_123150' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190304_123150.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Hi, fan!</a>
    <div class="meta">
      <span class="date">March 4, 2019</span>
    </div>
    <div class='description'>
      Crush mo ko kaya ka nagselfie no??? Ganda ng haircut ko no?? HAHAHAH
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190304_123150()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190304_230224' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190304_230224.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Hi, fan ulit!</a>
    <div class="meta">
      <span class="date">March 4, 2019</span>
    </div>
    <div class='description'>
      Yieeeee, first performance w Engg Choir!! I'm a fan po hihi Thank you po sa selfie! Will always support u po. Fighting!!
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190304_230224()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190314_184422' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190314_184422.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Fitness Is Next To Godliness Ulit!</a>
    <div class="meta">
      <span class="date">March 14, 2019</span>
    </div>
    <div class='description'>
      Sumama uli ako sa jogging! Ang nice magjog/exercise together :>
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190314_184422()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190318_143415' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190318_143415.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Seryoso sa WSG</a>
    <div class="meta">
      <span class="date">March 18, 2019</span>
    </div>
    <div class='description'>
      Sabi sa'yo masipag talaga tayo mag-aral at magpicture habang nag-aaral hahaha
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190318_143415()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190325_130100' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190325_130100.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Tiny!</a>
    <div class="meta">
      <span class="date">March 25, 2019</span>
    </div>
    <div class='description'>
      Waaaaah!! Sya yung puppy na nakita natin sa CASAA, sana nasa somewhere okay syaaa
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190325_130100()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190330_215429' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190330_215429.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Ang Formal Teh!</a>
    <div class="meta">
      <span class="date">March 30, 2019</span>
    </div>
    <div class='description'>
      Naaalala mo ba kung ano yung event nito? Nevertheless, I think u did well naman hehe
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190330_215429()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card april'>

  <div class='image'>
    <img src='/assets/april.jpg'>
  </div>

  <div class='ui bottom attached button' (click)='flipapril()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card 190408_133454' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190408_133454.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Bye Braces!</a>
    <div class="meta">
      <span class="date">April 8, 2019</span>
    </div>
    <div class='description'>
      Yiiieeee! First pic together na wala na yung braces ko HAHAHAHA kaso u nagtatae ata that day kaya may yogurt ikaw hahaha love youuuu
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190408_133454()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190421_143036' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190421_143036.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Messy Hair Don't Care Ulit!</a>
    <div class="meta">
      <span class="date">April 21, 2019</span>
    </div>
    <div class='description'>
      I think ito yung time na bumisita ako sa'yo after nung Holy Week Breakkk
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190421_143036()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card may'>

  <div class='image'>
    <img src='/assets/may.jpg'>
  </div>

  <div class='ui bottom attached button' (click)='flipmay()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card 190501_162947' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190501_162947.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Family Picture</a>
    <div class="meta">
      <span class="date">May 1, 2019</span>
    </div>
    <div class='description'>
      Nakakatuwa pag nakikita ko to lagi pag pumupunta sa inyo hehe Nice family :> <3
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190501_162947()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190508_171048' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190508_171048.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Hi, fan uli!</a>
    <div class="meta">
      <span class="date">May 8, 2019</span>
    </div>
    <div class='description'>
      Yieee!! Benefit concert niyo nung tinake natin yung pic hihi Love you!!
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190508_171048()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190508_190647' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190508_190647.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Chispa Candela!</a>
    <div class="meta">
      <span class="date">May 8, 2019</span>
    </div>
    <div class='description'>
      Ang galing mo bataaaaaa!! Will try my best to watch all your performances!! Love you! Support you!!
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190508_190647()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190517_170130' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190517_170130.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Congrats!</a>
    <div class="meta">
      <span class="date">May 17, 2019</span>
    </div>
    <div class='description'>
      Congrats sa capstone bata!!! All your efforts and pagod paid off! I'm proud of you!! C: <3
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190517_170130()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190521_131139' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190521_131139.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Selpi sa Ipil</a>
    <div class="meta">
      <span class="date">May 21, 2019</span>
    </div>
    <div class='description'>
      Di ko alam bakit kaw nagselfie HAHAHAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190521_131139()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190521_131200' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190521_131200.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Twitter Icon</a>
    <div class="meta">
      <span class="date">May 21, 2019</span>
    </div>
    <div class='description'>
      Salamat sa pagkuha ng pic na ito hahahah dahil dito may icon na ako sa Twitter HAHAHAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190521_131200()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190523_185323' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190523_185323.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Before</a>
    <div class="meta">
      <span class="date">May 23, 2019</span>
    </div>
    <div class='description'>
      Haircut Date!
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190523_185323()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190523_192148' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190523_192148.jpg'>
  </div>

  <div class='content'>
    <a class='header'>After</a>
    <div class="meta">
      <span class="date">May 23, 2019</span>
    </div>
    <div class='description'>
      Haircut Date!
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190523_192148()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190529_135821' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190529_135821.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Sarap ba? HAHAHAHA</a>
    <div class="meta">
      <span class="date">May 29, 2019</span>
    </div>
    <div class='description'>
      Sarap ba? Andito na naman po tayo sa paborito nating kainan sa Area2, Obo-sen HAHAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190529_135821()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190531_160917' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190531_160917.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Golden Hour</a>
    <div class="meta">
      <span class="date">May 31, 2019</span>
    </div>
    <div class='description'>
      HUOY Ang fresh natin dito hahahahahuhuhu ang saya rin natin both sa pic :>
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190531_160917()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190531_174252' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190531_174252.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Advanced Birthday Celebration!</a>
    <div class="meta">
      <span class="date">May 31, 2019</span>
    </div>
    <div class='description'>
      Happy tummy kasi kumain tayong ramen and gyoza and salad together! :>
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190531_174252()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190531_185812' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190531_185812.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Advanced Birthday Celebration!</a>
    <div class="meta">
      <span class="date">May 31, 2019</span>
    </div>
    <div class='description'>
      Tapos nagdessert at kumain ng sakura sundae at choco cake sa black scoop cafe! Love you!
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190531_185812()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card june'>

  <div class='image'>
    <img src='/assets/june.jpg'>
  </div>

  <div class='ui bottom attached button' (click)='flipjune()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card 190603_211606' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190603_211606.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Happy Birthday!</a>
    <div class="meta">
      <span class="date">June 3, 2019</span>
    </div>
    <div class='description'>
      Happy Birthday Bataaaa!!! Thank you sa pagstay at pag-include sakin sa life moooo 
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190603_211606()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190623_134809' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190623_134809.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Megamall Date :></a>
    <div class="meta">
      <span class="date">June 23, 2019</span>
    </div>
    <div class='description'>
      Thank you sa pagsama sa akin na humanap at bumili ng barong for grad!! Thank you din sa pagrecommend nung place na kinainan natin nun! Love you!!
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190623_134809()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190623_154356' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190623_154356.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Megamall Date :></a>
    <div class="meta">
      <span class="date">June 23, 2019</span>
    </div>
    <div class='description'>
      Wai u look sadddd kapagod maghanap ng barong pag choosy kasama moo hahahuhu thank you sa pagsamaaaa
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190623_154356()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190623_165438' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190623_165438.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Sakit Ulo Pose</a>
    <div class="meta">
      <span class="date">June 23, 2019</span>
    </div>
    <div class='description'>
      Huoy kakainlab naman yang pose mo uyy hihi woff uuuu
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190623_165438()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190630_100351' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190630_100351.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Univ Grad!</a>
    <div class="meta">
      <span class="date">June 30, 2019</span>
    </div>
    <div class='description'>
      AAAAAAAA Thank you sa pagsama sakin hanggang makagraduate at hanggang ngayonnn. Salamat talaga sa lahat, sa effort, sa time, sa patience, sa understanding, sa care, sa love, at sa ikawwww
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190630_100351()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card july'>

  <div class='image'>
    <img src='/assets/july.jpg'>
  </div>

  <div class='ui bottom attached button' (click)='flipjuly()'>
    <i class='chevron right icon'></i> Next
  </div>

</div>

<div class='ui centered card 190701_155906' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190701_155906.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Recog Rites!</a>
    <div class="meta">
      <span class="date">July 1, 2019</span>
    </div>
    <div class='description'>
      Salamat sa walang sawang pagsuporta bataaaa. Ulitin ko yung nasabi ko kaninaa salamat talaga sa lahat, sa effort, sa time, sa patience, sa understanding, sa care, sa love, at sa ikawwww. Thank youuuuu
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190701_155906()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190701_160705' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190701_160705.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Recog Rites!</a>
    <div class="meta">
      <span class="date">July 1, 2019</span>
    </div>
    <div class='description'>
      Salamat sa walang sawang pagsuporta bataaaa. Ulitin ko yung nasabi ko kaninaa salamat talaga sa lahat, sa effort, sa time, sa patience, sa understanding, sa care, sa love, at sa ikawwww. Thank youuuuu
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190701_160705()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190719_141659' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190719_141659.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Sbarro Date!</a>
    <div class="meta">
      <span class="date">July 19, 2019</span>
    </div>
    <div class='description'>
      I visited u sa BGC after ur internship!! Really happy to see you after a while! Finally naka-lasagna na rin tayo hahaha
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190719_141659()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190719_215748' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190719_215748.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Cooking Together</a>
    <div class="meta">
      <span class="date">July 19, 2019</span>
    </div>
    <div class='description'>
      After natin magswim nagluto tayong pancakes at alfredo hehe Natuwa talaga ako nun. Masaya akong nakasama ko ikaww. Thank youu
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190719_215748()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190726_202000' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190726_202000.jpg'>
  </div>

  <div class='content'>
    <a class='header'>INC or Italy?</a>
    <div class="meta">
      <span class="date">July 26, 2019</span>
    </div>
    <div class='description'>
      Ito yung kumain tayo sa Italian Resto tapos inaask mo sakin kung flag ba ng INC yun or Italy HAHAHA. Tapos yung corny joke ko na Glo-Up HAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190726_202000()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190727_155014' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190727_155014.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Tambay sa Bahay Uli!</a>
    <div class="meta">
      <span class="date">July 27, 2019</span>
    </div>
    <div class='description'>
      We stayed sa house mo for a while habang 'gumagawa' ikaw ng internship hahaha (feel ko nakatulog talaga ikaw nitoo)
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190727_155014()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190727_161151' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190727_161151.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Chubby Bunny!</a>
    <div class="meta">
      <span class="date">July 27, 2019</span>
    </div>
    <div class='description'>
      Kumain na lang tayong mallows nito kasi for sure talo ikaw pag naglaro pa tayo HAHAHAHA
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190727_161151()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

<div class='ui centered card 190729_174242' style='display:none'>

  <div class='image'>
    <img src='/assets/IMG_20190729_174242.jpg'>
  </div>

  <div class='content'>
    <a class='header'>Stay Together</a>
    <div class="meta">
      <span class="date">July 29, 2019</span>
    </div>
    <div class='description'>
      Visit sa BGC uli for your presentationn hehe It really was nice being so close to youu spending time w youuu. I love youu
    </div>
  </div>

  <div class='ui bottom attached button' (click)='flip190729_174242()'>
    <i class='chevron right icon'></i>Next
  </div>

</div>

</body>